@import 'tailwindcss';

:root {
  --font-family: 'Outfit', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}

/* Material Icon Fix */
.mat-icon, .material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal !important;
  font-style: normal !important;
  display: inline-flex !important;
  vertical-align: middle !important;
  line-height: 1 !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  word-wrap: normal !important;
  white-space: nowrap !important;
  direction: ltr !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
